@font-face {
  font-family: "LeRosart TexturaA";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-TexturaA.otf");
  font-weight: normal;
}

@font-face {
  font-family: "LeRosart TexturaB";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-TexturaB.otf");
  font-weight: normal;
}

@font-face {
  font-family: "LeRosart Display";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-DisplayBold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LeRosart Display";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-DisplayBoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "LeRosart Display";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-DisplayLight.otf");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "LeRosart Display";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-DisplayLightItalic.otf");
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: "LeRosart Display";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-DisplayMedium.otf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "LeRosart Display";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-DisplayMediumItalic.otf");
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: "LeRosart Display";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-DisplayRegular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LeRosart Display";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-DisplayRegularItalic.otf");
  font-weight: normal;
  font-style: italic;
}
/* ------------------------------- TEXT ------------------------------------- */

@font-face {
  font-family: "LeRosart Text";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-TextBold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LeRosart Text";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-TextBoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "LeRosart Text";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-TextLight.otf");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "LeRosart Text";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-TextLightItalic.otf");
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: "LeRosart Text";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-TextMedium.otf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "LeRosart Text";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-TextMediumItalic.otf");
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: "LeRosart Text";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-TextRegular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LeRosart Text";
  src: url("/fonts/Le Rosart/Le Rosart/LeRosart-TextRegularItalic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Akzidenz Grotesk";
  src: url("/fonts/Akzidenz Grotesk/Akzidenz-grotesk-roman.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk";
  src: url("/fonts/Akzidenz Grotesk/Akzidenz-grotesk-light.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk";
  src: url("/fonts/Akzidenz Grotesk/Akzidenz-grotesk-bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk";
  src: url("/fonts/Akzidenz Grotesk/Akzidenz-grotesk-black.ttf");
  font-weight: black;
  font-style: normal;
}

@font-face {
  font-family: "Weiss Fraktur";
  src: url("/fonts/WeissFraktur-VGgw.ttf");
  font-weight: black;
  font-style: normal;
}
