@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts.css");

:root {
  --color-primary: 15 23 42;
  --color-secondary: 100 116 139;
  --color-background: 255 250 233;
  --color-background-darker: 254 238 185;
  --color-highlight: 239, 60, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 237 242 247;
    --color-secondary: 160 174 192;
    --color-background: 26 32 44;
    --color-background-darker: 45 55 72;
    --color-border-light: 74 85 104;
    --color-highlight: 77, 124, 15;
  }
}

.dark {
  --color-primary: 237 242 247;
  --color-secondary: 160 174 192;
  --color-background: 26 32 44;
  --color-background-darker: 45 55 72;
  --color-border-light: 74 85 104;
}

body {
  color: rgb(var(--color-primary));
  background: var(--color-background);
}

.textura {
  font-family: "Weiss Fraktur";
}

h1 h2,
h3,
h4,
h5,
h6 {
  font-family: "LeRosart Display";
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p.decorative::first-letter {
  font-family: "Weiss Fraktur";
  font-size: 3rem;
  margin-right: 5px;
  float: left;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
