@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-hex: #fffae9;

  --dark-slate-gray: #27474e;
  --dark-purple: #271f30;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-hex: #1c1917;
  }

  body {
    background: var(--dark-slate-gray);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hex);
}

.textura {
  font-family: "LeRosart TexturaA";
}

h1 h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: "LeRosart Display";
}

table,
div,
p {
  font-family: "LeRosart Text";
}
